.banner__message-empty {
    display: flex;
    flex-direction: column;
}

.banner__message-empty h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}

.banner__message-empty img {

}

.banner__message-empty-img {
    height: 346px;
    width: 300px;
    padding: 20px;
    background-image: url("../../assets/images/chatmes.png");
    background-position: 126px 32px;
    background-repeat: no-repeat;
}