.message {
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
}

.message__avatar {
    display: flex;
    flex-direction: column-reverse;
}

.message__avatar img {
    width: 45px;
    height: 45px;
    margin-right: 13px;
    border-radius: 50px;
    margin-bottom: 23px;
    object-fit: cover;
}


.message__content {

}

.message__information {
    background: #3b4152;
    box-shadow: 0px 5px 5px rgba(54, 116, 225, 0.196);
    border-radius: 18px 18px 18px 18px;
    margin-bottom: 2px;
}

.message__text {
    color: #fff;
    font-size: 16px;
    max-width: 375px;
    line-height: 23px;
    padding: 15px;
    margin-bottom: 5px;
}

.message__date {
    font-size: 12px;
    opacity: 0.5;
    margin-left: 14px;
}

