.chat__dialogs-header-no_info {
    height: 67px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e4e4e4;
}

.chat__dialogs-header-no_info span {
    font-size: 28px;
    opacity: 0.4;
    padding: 20px;
}


.chat__main-dialog-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 12px 8px 10px 24px;
    background-color: #f5f5f5;
}

.chat__main-dialog-header--avatar {
    display: contents;
}

.chat__main-dialog-header--avatar b {
    padding: 9px;
    font-size: 18px;
}

