
.home {
    height: 100%;
}

/*+++++++++++++++++++Chat++++++++++++++*/
.chat {
    position: relative;
    display: flex;
    width: 1250px;
    height: 720px;
    padding-top: 20px;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04204);
    background-color: #fafafa;

}




/*____________________MAIN DIALOG_____________________*/

.chat__main-dialog {
    flex: 1;
    background-color: #f5f5f5;
}




.chat__main-dialog-middle-chat {
    background-color: #fafafa;
    padding: 5px 15px;
    overflow: auto;
    height: calc(100% - 208px);
}



/*++++++++++++++++++++++ Footer  ++++++++++++++++++++++++*/

.chat__footer {
    position: absolute;
    left: 0px;
    bottom: -20px;
    height: 30px;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid rgba(149, 149, 149, 0.2);
}