.input__send-chat {
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-top: 1px solid #e4e4e4;
}

.input__send-message {
    position: relative;
    width: 800px;
    height: 30px;
}

.input__send-message input {
    position: absolute;
    width: 800px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    opacity: 3;
    outline: none;
    max-width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 75px;
    overflow: hidden;
    resize: none;
}

.input__send-message input::placeholder {
    text-align: left;
    opacity: 0.5;
}


.input__send-message--button {
    bottom: -24px;
    background-image: url("../../assets/images/send.png");
    background-size: 60px 67px;
    background-position: -10px -15px;
    background-repeat: no-repeat;
    z-index: 10;
    cursor: pointer;

    position: absolute;
    right: 33px;
    top: 4px;
    border: none;
    height: 40px;
    width: 32px;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}