.dialogs__item-avatar {
    position: relative;
    flex: 0 0 47px;
    height: 50px;
    width: 50px;
    margin-left: 16px;
}

.dialogs__item--online::before {
    display: block;
    position: absolute;
    content: '';
    background-color: #00C980;
    border-radius: 30px;
    width: 10px;
    height: 10px;
    bottom: -2px;
    right: 0;
    border: 3px solid #fff;
}

.dialogs__item-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}