
.dialogs__item {
    display: flex;
    padding-top: 20px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
    color: black;
}

.active {
    background-color: rgba(156, 156, 156, 0.2);
}

.dialogs__item:last-of-type {
    border-bottom: none;
}

.dialogs__item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.dialogs__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.dialogs__item-info-top {
    display: flex;
    margin-left: 10px;
}

.dialogs__item-info-top b {
    font-size: 18px;
    font-weight: 300;
    flex: 1;
    margin-bottom: 0;
}

.dialogs__item-info-top span {
    opacity: 0.6;
    padding-right: 10px;
}

.dialogs__item-info-bottom {
    margin-left: 10px;
    padding-top: 5px;

}

.dialogs__item-info-bottom p {
    display: inline-block;
    margin: 0;
    padding: 0;
    opacity: 0.3;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    height: 1.2em;
    white-space: nowrap;
    font-size: 16px;
}