.search__item input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.76);
    background-image: url("../../assets/images/search.png");
    background-size: 15px 15px;
    opacity: 3;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    outline: none;
}

.search__item input[type=text]:hover {
    cursor: pointer;
}