/* ___________________ifIsMe____________________*/

.messageIsMe {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}

.messageIsMe__avatar {
    display: none;
    flex-direction: column-reverse;
}

.messageIsMe__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.messageIsMe__information {
    background: #e0e0e0;
    border: 1px solid #ececec;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 18px 18px 18px 18px;
    padding: 10px;
}

.messageIsMe__text {
    color: #474747;
    font-size: 15px;
    line-height: 22px;
    margin: 7px;
    max-width: 375px;
}

.messageIsMe__date {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 14px;
    padding-top: 7px;

}