/*_________________Chat Dialogs____________________*/

.chat__dialogs-sidebar {
    width: 350px;
    border-right: 1px solid #e4e4e4;
    background-color: #ffffff;
}

.chat__dialogs-list-item-messages {
    height: 485px;
    overflow: auto;
}


.chat__dialogs-header {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
}

.chat__dialogs-header--avatar {
    padding: 20px 10px 0px 20px;
}

.chat__dialogs-header--avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat__dialogs-search {
    padding: 20px;
}

.chat__dialogs-list-item-title {
}

.chat__dialogs-list-item-title h1 {
    color: #4698af;
    font-weight: 400;
    font-size: 25px;
    padding: 14px;
}

